<?php

namespace PetakUmpet;

// class as configurator

class Config {
  // real constants (all caps) DO NOT CHANGE
  const DBTYPE = 1;
  const DBHOST = 2;
  const DBNAME = 4;
  const DBUSER = 8;
  const DBCRED = 16;

  private $projectTitle;
  private $loginPage;
  private $startPage;
  private $noAccessPage;
  
  public function __construct()
  {
    /* project environment setup */
    $this->projectTitle = 'Application Name';
    $this->loginPage    = 'Login/index';
    $this->startPage    = 'Home/index';
    $this->noAccessPage = 'User/noAccess';

    $this->anonPages    = array(
        'Home/about',
        'Home/contact',
        'Login/index',
        'User/noAccess',
      );

    /* available applications, indexed by path */
    $this->pathApps = array(
        '/' => 'AppName',
      ); 

    /* set the applications mode, need login or not */
    $this->appsOpenState = array(
        'AppName' => false,
      );

    /* database configuration 
       for multiple connection just add more index */
    $this->dbConfig[0] = array(
        self::DBTYPE => 'PostgreSQL',
        self::DBHOST => 'localhost',
        self::DBNAME => 'test',
        self::DBUSER => 'test',
        self::DBCRED => 'test',
      );
  }

  public function getProjectTitle() { return $this->projectTitle; }
  public function getLoginPage()    { return $this->loginPage;    }
  public function getStartPage()    { return $this->startPage;    }
  public function getNoAccessPage() { return $this->noAccessPage; }

  public function getApplication($path)
  {
    if (!isset($this->pathApps[$path])) 
      return null;

    return $this->pathApps[$path];
  }

  public function isOpenApp($app)
  {
    return $this->appsOpenState[$app];
  }

  public function getDbConfig($index)
  {
    if ($index === null) $index=0;
    if (!isset($this->dbConfig[$index])) return null;

    return $this->dbConfig[$index];
  }

  public function getLogLevel()
  {
    return \PetakUmpet\Logger::DEBUG;
  }

  public function getEventLogging()
  {
    return true; // false to turn off app/mod/act logging to database
  }

  public function isDevelopment()
  {
    return true; // false to deactivate development functionalities
  }

  public function isAnonymousPage($page)
  {
    return in_array($page, $this->anonPages);
  }
}
